
#btn1,.btn:hover{
    background-color:white;
    cursor: pointer;
  }

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height:4.5vh;
    width:9vw;
    color:#4DAC6C;
    border-radius:2em;
    font-family: 'Jockey One', sans-serif;
    font-weight:bold;
    font-size:1.2em;
    margin-left:4em;
    margin:none
  }

  